<div style="height: 70px; width:100%; border-radius:20px 0px; margin-top:5px;">
  <br>
  <table style="padding-top: 15px; margin-left: 8%; ">
    <tr>
      <td>
        <a routerLink='/viewStudentList'>
          <input type="button" value="View Student Attendance" style="height:40px; font-size:20px ; font-weight: bold; font-family:Monospace; background-color: rgb(196, 181, 190) ;border-radius:20px;">
        </a>
      </td>
      <td style="padding-left:20px;">
        <a routerLink='/entry'>
          <input type="button" value="Take Student Attendance" style="height:40px;font-size:20px ; font-weight: bold; font-family:Monospace; background-color:rgb(196, 181, 190); border-radius:20px;">
        </a>
      </td>
      <td style="padding-left:20px;">
        <a routerLink='/studentRegistration'>
          <input type="button" value="Student Registration" style="height:40px;font-size:20px ; font-weight: bold; font-family:Monospace; background-color:rgb(196, 181, 190); border-radius:20px;">
        </a>
      </td>
      <td style="padding-left:20px;">
        <a routerLink='/filter'>
          <input type="button" value="View Student Details" style="height:40px;font-size:20px ; font-weight: bold; font-family:Monospace; background-color:rgb(196, 181, 190); border-radius:20px;">
        </a>
      </td>
    </tr>
  </table>
</div>