<app-header></app-header>
<app-navigation-header></app-navigation-header>
<hr>
<h1 align="center"> Student Registration</h1>
<hr>
<form [formGroup]="studentRegistration" (ngSubmit)=onSubmit(studentRegistration.value) align="center">
  <table align="center">
    <tr>
      <td>
        <input type="text" name="name" placeholder="Name of the Student" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="fatherName" placeholder="Father's Name" formControlName="fatherName">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="motherName" placeholder="Mother's Name" formControlName="motherName">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="phone" placeholder="Phone Number" formControlName="phone">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="age" placeholder="Age of the Student" formControlName="age">
      </td>
    </tr>
    <tr colspan="2" align="center">
      <td>
        Male
        <input type="radio" name="gender" value="male" formControlName="gender">
        Female
        <input type="radio" name="gender" value="female" formControlName="gender">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="address" placeholder="Permanent Address" formControlName="address">
      </td>
    </tr>
    <tr>
      <td>
        <select name="class" formControlName="class">
          <option value="1">1st class</option>
          <option value="2">2nd class</option>
          <option value="3">3rd class</option>
          <option value="4">4th class</option>
          <option value="5">5th class</option>
          <option value="6">6th class</option>
          <option value="7">7th class</option>
          <option value="8">8th class</option>
          <option value="9">9th class</option>
          <option value="10">10th class</option>
          <option value="11">11th class</option>
          <option value="12">12th class</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select name="standard" formControlName="standard">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="email" placeholder="Email Id" formControlName="email">
      </td>
    </tr><br>
    <tr colspan="2" align="center">
      <td>
        <input type="submit" value="submit" name="submit" [disabled]="!studentRegistration.valid">
      </td>
    </tr>
  </table>
</form>