<app-header></app-header>
<app-navigation-header></app-navigation-header>
<hr>
<h1 align="center">View Student Details</h1>
<hr>
<div align="center" height="90px;" width="100%">
  <table>
    <tr>
      Class:
      <td *ngFor="let item of classList">
        <input type="checkbox" [value]="item.id" (ngModelChange)="FilterData(item, $event);" [(ngModel)]="item.selected">
        {{ item.name }}
      </td>
    </tr>
    <tr>
      Division: 
      <td *ngFor="let item of divisionList">
        <input type="checkbox" [value]="item.id" (ngModelChange)="FilterData(item, $event);" [(ngModel)]="item.selected">
        {{ item.name }}
      </td>
    </tr>
  </table>
</div>
<br>
<div align="center">
  Search Student's Name:
  <input type="textbox" name="search" [(ngModel)]="search">
</div>
<br>
<table align="center" border="1px" style="border-style: initial">
  <thead>
    <tr style="font-weight:bold;">
      <td class="pointer" (click)="sort('id')"> ROLL No. </td>
      <td class="pointer" (click)="sort('name')"> NAME </td>
      <td class="pointer" (click)="sort('fatherName')"> FATHER'S NAME </td>
      <td class="pointer" (click)="sort('motherName')"> MOTHER'S NAME </td>
      <td> PHONE NUMBER </td>
      <td class="pointer" (click)="sort('age')"> AGE </td>
      <td> GENDER </td>
      <td> ADDRESS </td>
      <td class="pointer" (click)="sort('class')"> CLASS </td>
      <td class="pointer" (click)="sort('standard')"> STANDARD </td>
      <td> EMAIL </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let details of data | columnFilter | filter:search  | orderrByPipe: {property: column, direction: direction} | paginate: { itemsPerPage: 7, currentPage: p }">
      <td>{{ details.id }}</td>
      <td>{{ details.name | uppercase }}</td>
      <td>{{ details.fatherName | lowercase}}</td>
      <td>{{ details.motherName | lowercase}}</td>
      <td>{{ details.phone }}</td>
      <td>{{ details.age }}</td>
      <td>{{ details.gender | uppercase }}</td>
      <td>{{ details.address | lowercase }}</td>
      <td>{{ details.class }} </td>
      <td>{{ details.standard }}</td>
      <td>{{ details.email }}</td>
    </tr>
  </tbody>
</table>
<br>
<div style="background-color: rgb(240, 235, 231)">
  <pagination-controls align="center" (pageChange)="p= $event" autoHide="true" previousLabel="Previous Page" nextLabel="Next Page">
  </pagination-controls>
</div>